@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,700&family=Montserrat:ital@1&display=swap");
:root {
  --bg-color: #fffdfc;
  --common-font-color: #fff ;
  --bg-br-color: #edf2f7 ;
  --font-color: #000 ;
  --font-color-light: #545454;
  --font-family-heading: "Barlow Condensed", sans-serif;
  --font-family-para: "Montserrat", sans-serif;
  --water-animation-bg-color: #03a9f4 ;
  --water-animation-border-color: #03a9f4;
  --bg-cover-gradient: linear-gradient(to bottom right, rgba(255,255,255,1) , rgb(38, 35, 70) , rgba(255,255,255,1)) ;
  --footer-bg-color: #fff;
  --font-size-small: 0.72rem;
  --name-animation-color: rgb(255 , 105 , 180) ;
  --nav-filter-btn-active-color: #343a40 ;
  --nav-filter-btn-active-font-color: #fff ;
  --sidebar-projects-btn-color2: #000;
  --sidebar-projects-btn-color1:#efe9e4;
  --timeline-color: rgba(0 , 0 , 0 , 0.6);
}

.toggle-mode {
  --bg-color: #020a13 ;
  --bg-br-color: #0f0f0f ;
  --font-color: #fff ;
  --font-color-light: #8f87876e ;
  --font-family-heading: "Barlow Condensed", sans-serif;
  --font-family-para: "Montserrat", sans-serif;
  --water-animation-bg-color: #03a9f4 ;
  --water-animation-border-color: #03a9f4;
  --bg-cover-gradient: linear-gradient(to bottom right, rgba(255,255,255,1) , rgb(38, 35, 70) , rgba(255,255,255,1)) ;
  --footer-bg-color: #020a13;
  --font-size-small: 0.72rem;
  --name-animation-color: rgb(255 , 105 , 180) ;
  --nav-filter-btn-active-color: #343a40 ;
  --sidebar-projects-btn-color2: #3f566e ;
  --nav-filter-btn-active-font-color: #fff ;
  --sidebar-projects-btn-color1:#13283e;
  --timeline-color: #ffffff5e;
  --common-font-color: #fff ;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  color: var(--font-color);
  font-family: var(--font-family-para);
  overflow-x: hidden;
}

.cursor-circle {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  position: fixed;
  background: transparent;
  border: 2px var(--font-color-light) solid;
  transform: translate(-50%, -50%);
  transition: scale 0.5s ease;
  z-index: -1;
  display: none;
}

.cursor-calm-down {
  scale: 0;
}

.cursor-dot {
  width: 8px;
  background-color: var(--font-color);
  height: 8px;
  border-radius: 50%;
  position: fixed;
  border: 2px var(--font-color) solid;
  z-index: -1;
  transform: translate(-50%, -50%);
  display: none;
}

.big-home-page-name {
  position: fixed;
  bottom: 65px;
  left: 0;
  font-size: 150px;
  z-index: -2;
  font-weight: 800;
  color: var(--font-color);
  opacity: 0.02;
}

nav.nav-large-screen {
  display: flex;
  width: min(95%, 1100px);
  margin-inline: auto;
  justify-content: space-between;
  padding: 3em 1em;
  align-items: center;
}
nav.nav-large-screen .logo a {
  color: var(--font-color);
}
nav.nav-large-screen i {
  font-size: 2rem;
  opacity: 0.8;
  cursor: pointer;
}
nav.nav-large-screen .nav-item-list-large {
  display: none;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
nav.nav-large-screen .nav-item-list-large a {
  color: var(--font-color);
  padding-bottom: 3px;
  font-size: 0.72rem;
  transition: transform 0.3s ease;
}
nav.nav-large-screen .nav-item-list-large a:hover {
  transform: scale(1.1);
}
nav.nav-large-screen .nav-item-list-large i {
  font-size: 1.5rem;
}

nav.nav-mobile {
  background-color: var(--bg-color);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(-180vh);
  transition: all 0.5s ease-in-out;
}
nav.nav-mobile .nav-mobile-icons {
  display: flex;
  padding: 3em 2em;
  justify-content: space-between;
}
nav.nav-mobile .nav-mobile-icons i {
  font-size: 32px;
  cursor: pointer;
}
nav.nav-mobile .nav-item-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 256px;
  margin-inline: auto;
  gap: 30px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}
nav.nav-mobile .nav-item-list a {
  color: var(--font-color);
  padding-bottom: 3px;
}
nav.nav-mobile .nav-item-list a:hover {
  border-bottom: 2px var(--name-animation-color) solid;
}

nav.nav-mobile-show {
  transform: translateY(0);
}

section.footer-mobile-space {
  height: 200px;
}

@media (min-width: 768px) {
  section.footer-mobile-space {
    display: none;
  }
}
.common-display {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: bolder;
  font-family: var(--font-family-heading);
}

section.home-content {
  margin-top: 3.8em;
  width: min(95%, 950px);
  margin-inline: auto;
}
section.home-content h1 {
  font-family: var(--font-family-heading);
  letter-spacing: 10px;
  font-size: 2.5rem;
}
section.home-content h2 {
  margin-top: 11px;
  font-size: 1.5rem;
  opacity: 0.7;
  padding-bottom: 5px;
}
section.home-content > * {
  opacity: 0;
}
section.home-content > p {
  margin: 1.7em 0;
  line-height: 35px;
  font-size: 0.72rem;
  font-family: var(--font-family-para);
}
section.home-content > p a {
  font-size: 0.72rem;
  color: var(--font-color);
  font-weight: bold;
}
section.home-content > :nth-child(1) {
  animation: showtext 1s forwards;
}
section.home-content > :nth-child(2) {
  animation-name: showtext;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}
section.home-content > :nth-child(3) {
  animation-name: showtext;
  animation-duration: 1s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}
section.home-content > :nth-child(4) {
  animation-name: showtext;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

a.about-me {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  line-height: 35px;
  font-size: 0.72rem;
  font-family: var(--font-family-para);
  width: max-content;
  cursor: pointer;
  margin-bottom: 10px !important;
}
a.about-me p {
  font-size: 0.72rem;
  color: var(--font-color);
}
a.about-me i {
  animation-name: movearrow;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  color: var(--font-color);
}

.water-animation h1 {
  position: relative;
}
.water-animation h1::before {
  content: attr(content);
  position: absolute;
  left: 2px;
  text-shadow: rgb(0, 255, 255) -1px 0px;
  animation: 15s linear 0s infinite alternate-reverse none running noise-anim-2;
}
.water-animation h1::after {
  content: attr(content);
  position: absolute;
  left: -2px;
  text-shadow: var(--name-animation-color) 3px 0px;
  animation: 2s linear 0s infinite alternate-reverse none running noise-anim;
}

footer {
  position: fixed;
  bottom: 0;
  background: var(--footer-bg-color);
  left: 0;
  width: 100%;
  padding: 25px 50px;
  opacity: 0;
  animation-name: showtext;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}
footer ul {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-evenly;
}
footer ul a i {
  color: var(--font-color);
  font-size: 1rem;
  transition: transform 0.3s ease-out;
}
footer ul a i:hover {
  transform: scale(1.15);
}

@media (min-width: 768px) {
  * {
    font-size: 20px;
  }
  .cursor-dot, .cursor-circle {
    display: block;
  }
  i.open-nav-bar {
    display: none;
  }
  .nav-item-list-large {
    display: flex !important;
  }
  section.home-content .about-me {
    margin-bottom: 0;
  }
  footer {
    padding-top: 0;
    position: static;
    width: 950px;
    margin-inline: auto;
    background-color: transparent;
  }
  footer ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
  }
}
@keyframes movearrow {
  0% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes showtext {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes water-animation {
  0%, 100% {
    clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
.square-background {
  --b: 1px; /* border length */
  background-color: var(--bg-br-color);
  height: 100vh;
  background-size: 95px 95px;
  background-position: calc(-1 * var(--b)) calc(-1 * var(--b));
  background-image: conic-gradient(from 90deg at var(--b) var(--b), var(--bg-color) 90deg, rgba(0, 0, 0, 0) 0);
  position: relative;
}

.square-background::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  background-image: var(--bg-cover-gradient);
  opacity: 0.1;
}

section.contact-form {
  width: min(95%, 950px);
  margin-inline: auto;
}
section.contact-form form {
  width: min(100%, 600px);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
section.contact-form form h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: bolder;
  font-family: var(--font-family-heading);
}
section.contact-form form p {
  font-size: 0.72rem;
}
section.contact-form form p small {
  font-weight: bold;
  font-size: 0.72rem;
}
section.contact-form form input, section.contact-form form textarea {
  width: 100%;
  background-color: transparent;
  padding: 16px 21px;
  border: 1px solid var(--input-border-color);
  resize: none;
  font-size: 0.72rem;
  font-family: var(--font-family-para);
  color: var(--font-color);
}
section.contact-form form input:focus, section.contact-form form textarea:focus {
  background-color: var(--footer-bg-color);
  outline: none;
}
section.contact-form form textarea {
  height: 170px;
}
section.contact-form form button {
  padding: 15px 40px;
  border-radius: 5px;
  font-size: 0.72rem;
  cursor: pointer;
}
section.contact-form form .go-back-to-home {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  line-height: 35px;
  font-size: 0.72rem;
  font-family: var(--font-family-para);
  width: max-content;
  cursor: pointer;
}
section.contact-form form .go-back-to-home p {
  font-size: 0.72rem;
  font-weight: bold;
}
section.contact-form form .go-back-to-home i {
  animation-name: movearrow;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  color: var(--font-color);
}

.nav-filter-btn {
  background-color: transparent;
  color: var(--font-color);
  font-size: var(--font-size-small);
  font-family: var(--font-family-para);
  cursor: pointer;
  padding: 0 9px;
  border-radius: 4px;
  transition: transform 0.5s ease-in-out, background 0.5s ease-in-out;
}

.nav-filter-btn-active {
  padding: 5px 22px;
  background: var(--nav-filter-btn-active-color);
  border: 2px solid var(--font-color);
  transform: scale(1.2);
  font-weight: bold;
  color: var(--nav-filter-btn-active-font-color);
}

section.articles-section {
  width: min(100%, 770px);
  margin-inline: auto;
  margin-top: 70px;
  padding: 20px;
}
section.articles-section .container {
  margin-bottom: 20px;
}
section.articles-section .nav-filter {
  margin-top: 50px;
  display: flex;
  gap: 21px;
  justify-content: center;
  align-items: center;
}
section.articles-section .articles-list {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
section.articles-section .articles-list li.large {
  height: 420px !important;
}
section.articles-section .articles-list li.mediam {
  height: 370px !important;
}
section.articles-section .articles-list li.small {
  height: 300px !important;
}
section.articles-section .articles-list .left-column, section.articles-section .articles-list .right-column {
  display: flex;
  width: min(100%, 510px);
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
}
section.articles-section .articles-list li {
  position: relative;
}
section.articles-section .articles-list li img {
  width: 100%;
  border-radius: 15px;
  height: 100%;
}
section.articles-section .articles-list li .article-list-content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
section.articles-section .articles-list li .article-list-content h4 {
  font-size: 1.2rem;
  color: var(--common-font-color);
}
section.articles-section .articles-list li .article-list-content p {
  font-size: var(--font-size-small);
  color: var(--common-font-color);
}
section.articles-section .articles-list li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.8));
}

@media (min-width: 768px) {
  section.articles-section .articles-list {
    flex-direction: row;
  }
  section.articles-section .articles-list .left-column, section.articles-section .articles-list .right-column {
    width: 50%;
    justify-content: flex-start;
  }
  section.articles-section .articles-list li.large {
    height: 454px !important;
  }
  section.articles-section .articles-list li.medium {
    height: 400px !important;
  }
  section.articles-section .articles-list li.small {
    height: 310px !important;
  }
  section.articles-section .articles-list li::after {
    display: none;
  }
  section.articles-section .articles-list .article-list-content {
    transform: translateY(10px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  section.articles-section .articles-list li:hover::after {
    display: block;
  }
  section.articles-section .articles-list li:hover .article-list-content {
    opacity: 1;
    transform: translateY(-10px);
  }
}
@media (min-width: 968px) {
  section.articles-section {
    width: 920px;
  }
}
.project-details-modal::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.project-details-modal {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.project-details-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100dvh;
  overflow-y: scroll;
  width: min(554px, 100%);
  padding: 30px;
  top: 0;
  right: 0;
  gap: 20px;
  z-index: 10;
  transform: translateX(min(554px, 100%));
  transition: transform 0.7s ease;
  background-color: var(--bg-color);
  color: var(--font-color);
}
.project-details-modal img {
  width: 100%;
  border-radius: 8px;
}
.project-details-modal .back-btns {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.project-details-modal .back-btns .back-to-projects {
  font-size: var(--font-size-small);
}
.project-details-modal .back-btns :first-child {
  transition: transform 0.3s ease;
  transform: scale(1);
  cursor: pointer;
}
.project-details-modal .back-btns :first-child:hover {
  transform: scale(1.1);
}
.project-details-modal .back-btns :last-child:hover {
  text-decoration: underline;
  cursor: pointer;
}
.project-details-modal h3 {
  font-family: var(--font-family-heading);
  letter-spacing: 2px;
  font-size: 1.3rem;
}
.project-details-modal p {
  font-size: var(--font-size-small);
  line-height: 1rem;
}
.project-details-modal .technology-btns button {
  background: var(--sidebar-projects-btn-color1);
  font-size: var(--font-size-small);
  color: var(--font-color);
  font-weight: bold;
  padding: 5px 10px;
}
.project-details-modal .github {
  font-size: var(--font-size-small);
  color: var(--font-color);
  text-decoration: none;
}
.project-details-modal .github:hover {
  border-bottom: 1px solid var(--font-color);
  align-self: flex-start;
}
.project-details-modal a.open-project {
  padding: 10px 20px;
  width: 100%;
  background: var(--sidebar-projects-btn-color2);
  color: #fff !important;
  font-size: var(--font-size-small);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  cursor: pointer;
}

.project-details-modal-show {
  transform: translateX(0);
}

.cover-whole-page-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: none;
}

.cover-whole-page-modal-active {
  display: block;
}

section.about-me .container {
  padding: 20px;
  width: min(100%, 900px);
  margin-inline: auto;
}
section.about-me .container .profile-pic {
  margin: 20px 0;
  height: 400px;
  width: min(303.3px, 100%);
  margin-inline: auto;
}
section.about-me .container .profile-pic img {
  width: 100%;
  height: 100%;
}
section.about-me .container .about-me-content-container > h3 {
  margin: 20px 0;
}
section.about-me .container .about-me-content-container ul {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-left: 2px solid var(--timeline-color);
}
section.about-me .container .about-me-content-container ul li {
  position: relative;
  padding-left: 23px;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  font-family: var(--font-family-para);
}
section.about-me .container .about-me-content-container ul li h5 {
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0.9;
  margin-bottom: 10px;
}
section.about-me .container .about-me-content-container ul li p {
  font-size: var(--font-size-small);
}
section.about-me .container .about-me-content-container ul li .round {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  background-color: var(--bg-color);
  transform: translateX(-50%);
  border: 1.5px solid var(--font-color);
  border-radius: 50%;
}

@keyframes noise-anim {
  0% {
    clip-path: inset(29% 0 25% 0);
  }
  5% {
    clip-path: inset(9% 0 38% 0);
  }
  10% {
    clip-path: inset(96% 0 1% 0);
  }
  15% {
    clip-path: inset(75% 0 23% 0);
  }
  20% {
    clip-path: inset(46% 0 50% 0);
  }
  25% {
    clip-path: inset(3% 0 46% 0);
  }
  30% {
    clip-path: inset(82% 0 2% 0);
  }
  35% {
    clip-path: inset(88% 0 1% 0);
  }
  40% {
    clip-path: inset(91% 0 8% 0);
  }
  45% {
    clip-path: inset(96% 0 2% 0);
  }
  50% {
    clip-path: inset(59% 0 38% 0);
  }
  55% {
    clip-path: inset(41% 0 53% 0);
  }
  60% {
    clip-path: inset(21% 0 47% 0);
  }
  65% {
    clip-path: inset(89% 0 4% 0);
  }
  70% {
    clip-path: inset(1% 0 95% 0);
  }
  75% {
    clip-path: inset(86% 0 4% 0);
  }
  80% {
    clip-path: inset(95% 0 5% 0);
  }
  85% {
    clip-path: inset(54% 0 36% 0);
  }
  90% {
    clip-path: inset(70% 0 27% 0);
  }
  95% {
    clip-path: inset(6% 0 16% 0);
  }
  100% {
    clip-path: inset(95% 0 2% 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip-path: inset(76% 0 21% 0);
  }
  5% {
    clip-path: inset(54% 0 7% 0);
  }
  10% {
    clip-path: inset(55% 0 29% 0);
  }
  15% {
    clip-path: inset(89% 0 3% 0);
  }
  20% {
    clip-path: inset(33% 0 40% 0);
  }
  25% {
    clip-path: inset(17% 0 56% 0);
  }
  30% {
    clip-path: inset(37% 0 51% 0);
  }
  35% {
    clip-path: inset(38% 0 19% 0);
  }
  40% {
    clip-path: inset(93% 0 4% 0);
  }
  45% {
    clip-path: inset(44% 0 14% 0);
  }
  50% {
    clip-path: inset(53% 0 26% 0);
  }
  55% {
    clip-path: inset(67% 0 11% 0);
  }
  60% {
    clip-path: inset(85% 0 13% 0);
  }
  65% {
    clip-path: inset(27% 0 37% 0);
  }
  70% {
    clip-path: inset(87% 0 4% 0);
  }
  75% {
    clip-path: inset(10% 0 8% 0);
  }
  80% {
    clip-path: inset(51% 0 27% 0);
  }
  85% {
    clip-path: inset(10% 0 60% 0);
  }
  90% {
    clip-path: inset(83% 0 3% 0);
  }
  95% {
    clip-path: inset(23% 0 55% 0);
  }
  100% {
    clip-path: inset(1% 0 81% 0);
  }
}