
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,700&family=Montserrat:ital@1&display=swap');


:root {
    --bg-color : #020a13 ; 
    --bg-br-color : #0f0f0f ;
    --font-color : #fff ;
    --font-color-light : #8f87876e ;
    --font-family-heading : 'Barlow Condensed', sans-serif;
    --font-family-para : 'Montserrat', sans-serif;
    --water-animation-bg-color : #03a9f4 ; 
    --water-animation-border-color : #03a9f4; 
    --bg-cover-gradient : linear-gradient(to bottom right, rgba(255,255,255,1) , rgb(38, 35, 70) , rgba(255,255,255,1)) ;
    --footer-bg-color : #020a13;
    --font-size-small : 0.72rem;
    --name-animation-color : rgb(255 , 105 , 180)  ;
    --nav-filter-btn-active-color : #343a40 ;
    --sidebar-projects-btn-color2 : #3f566e ;
    --sidebar-projects-btn-color1:#13283e;
}


// Resetting Styles
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 18px;
}
ul{
    list-style-type: none;
    padding: 0;
}

body{
    color: var(--font-color);
    font-family: var(--font-family-para);
    overflow-x: hidden;
}


// move cursor along with you
.cursor-circle { 
    width: 85px;
    height: 85px;
    border-radius: 50%;
    position: fixed;
    background:transparent;
    border: 2px var(--font-color-light) solid;
    transform: translate(-50% , -50%);
    transition: scale 0.5s ease;
    z-index: -1;
    display: none;
}
.cursor-calm-down {
   scale: 0;
}
.cursor-dot { 

    width: 8px;
    background-color: var(--font-color);
    height: 8px;
    border-radius: 50%;
    position: fixed;

    border: 2px var(--font-color) solid;
    z-index: -1;
    transform: translate(-50% , -50%);
    display: none;
    
}
// bottom home name large 
.big-home-page-name {
    position: fixed;
    bottom: 65px;
    left: 0;
    font-size: 150px;
    z-index: -2;
    font-weight: 800;
    color: var(--font-color);
    opacity: 0.02;
}
nav.nav-large-screen{
    display: flex;
    width: min(95% , 1100px);
    margin-inline: auto;
    justify-content: space-between;
    padding: 3em 1em;
    align-items: center;
    .logo a{
        color: var(--font-color);
    }
    i{
        font-size: 2rem;
        opacity: 0.8;
        cursor: pointer;
    }
    .nav-item-list-large{
        display: none;
        gap: 20px;

        a{
            color: var(--font-color);
            padding-bottom: 3px;
            font-size: 0.72rem;
            transition: transform 0.3s ease;
        }
        a:hover { 
         transform: scale(1.1);
        }

    }

}
nav.nav-mobile { 
    background-color: var(--bg-color);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform:translateY(-180vh);
    transition: all 0.5s ease-in-out;
    .nav-mobile-icons { 
        display: flex;
        padding: 3em 2em;
        justify-content: space-between;
        i {
            font-size: 32px;
            cursor: pointer;
        }
    }
    .nav-item-list { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 256px;
        margin-inline : auto ;
        gap: 30px;
        text-align: center;
        font-size: 25px;
        font-weight: bolder;
        a {
            color: var(--font-color) ;
            padding-bottom: 3px;
        }
        a:hover { 
            border-bottom: 2px var(--name-animation-color) solid;
        }

    }
}
nav.nav-mobile-show { 
    transform: translateY(0);
}
// bottom space for footer on mobile 
section.footer-mobile-space {
    height: 200px;
}
@media (min-width : 768px) {
    section.footer-mobile-space { 
        display: none;
    }
}
// common display
.common-display{
    font-size: 3rem ;
    letter-spacing: 2px;
    font-weight: bolder;
    font-family: var(--font-family-heading);
}
section.home-content { 

    margin-top: 3.8em;
    width: min(95% , 950px);
    margin-inline: auto;
        h1{
            font-family: var(--font-family-heading);
            letter-spacing: 10px;
            font-size:2.5rem;
        }
        h2{
            
            margin-top: 11px;
            font-size: 1.5rem;
            opacity: 0.7;
            padding-bottom: 5px;
           
        }


    > * {
        opacity: 0;
    }
    > p { 
        margin: 1.7em 0;
        line-height: 35px;
        font-size: 0.72rem;
        font-family: var(--font-family-para);

    a{
        font-size: 0.72rem;
        color: var(--font-color);
        font-weight: bold;
    }
      
    }
    .about-me { 
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
        display: flex;
        line-height: 35px;
        font-size: 0.72rem;
        font-family: var(--font-family-para);
        width: max-content;
        cursor: pointer;
        margin-bottom: 10px !important;
        p{
            font-size: 0.72rem;
            font-weight: bold;
        }
 
        i { 

            animation-name: movearrow;
            animation-duration: 1.5s;
            animation-timing-function:ease-in-out;
            animation-iteration-count: infinite;
            color: var(--water-animation-bg-color);
        }
    }
    
    // Animation for all its child 
    > :nth-child(1) {

        animation: showtext 1s forwards ;
    }
    > :nth-child(2) {
        animation-name: showtext;
        animation-duration: 1s;
        animation-delay: 0.2s;
        animation-fill-mode: forwards;
    }

    > :nth-child(3) {
        animation-name: showtext;
        animation-duration: 1s;
        animation-delay: 0.4s;
        animation-fill-mode: forwards;
    }

    > :nth-child(4){
        animation-name: showtext;
        animation-duration: 1s;
        animation-delay: 0.6s;
        animation-fill-mode: forwards;
    }

}
// Water animation class 
.water-animation { 
    h1{
        position: relative;
    }

    h1::before{
        content: attr(content);
        position: absolute;
        left: 2px;
        text-shadow:  rgb(0 , 255 , 255) -1px 0px ;
        animation: 15s linear 0s infinite alternate-reverse none running noise-anim-2;
    }h1::after{
        content: attr(content);
        position: absolute;
        left: -2px;
        text-shadow: var(--name-animation-color)  3px 0px ;
        animation: 2s linear 0s infinite alternate-reverse none running noise-anim;
    }
}
// Styling the footer 
footer{
    position: fixed;
    bottom: 0;
    background: var(--footer-bg-color);
    left: 0;
    width: 100%;
    padding: 25px 50px;
    opacity: 0;
    animation-name: showtext;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;

    ul {
        display: flex;
        align-items: center;
        padding: 0;
        justify-content:space-evenly;
        a i { 
            color: var(--font-color);
            font-size: 1rem;
            transition: transform 0.3s ease-out;
        }
        a i:hover{
            transform: scale(1.15);
        }
    }
}

@media (min-width : 768px) {
    * {
        font-size: 20px;
    }
    .cursor-dot , .cursor-circle{
        display: block;
    }
    i.open-nav-bar { 
        display: none;
    }
    .nav-item-list-large{
        display: flex !important;
    }
    section.home-content .about-me { 
        margin-bottom: 0;
    }
    footer{
        padding-top: 0;
        position:static;
        width:950px;
        margin-inline: auto;
        
        background-color: transparent;


        ul {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content:flex-start;
            gap: 40px;
        }
    }
}
// Animation to move arrow mark 
@keyframes movearrow { 
    0% { 
        transform: translateX(0);  
    }
    75%{
        transform: translateX(25px);
    }
    100%{
        transform: translateX(0);
    }
}
// Animation to display text 
@keyframes showtext {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
// Water animation
@keyframes water-animation {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }

.square-background {
    --b: 1px; /* border length */
    background-color: var(--bg-br-color);
    height: 100vh; 
    background-size: 95px 95px;
    background-position: calc(-1 * var(--b)) calc(-1 * var(--b));
    background-image:
      conic-gradient(from 90deg at var(--b) var(--b), var(--bg-color) 90deg,#0000 0);
    position:relative;
    
  }
.square-background::after { 
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    background-image: var(--bg-cover-gradient) ;
    opacity: 0.1;
}


// This is where contact page starts
section.contact-form { 
    width: min(95% , 950px);
    margin-inline: auto;
    form {
        width: min(100% , 600px);
        padding: 20px;
        h1 { 
            font-size: 3rem ;
            letter-spacing: 2px;
            font-weight: bolder;
            font-family: var(--font-family-heading);

        }
        p{
            font-size: 0.72rem;
            small { 
                font-weight: bold;
                font-size: 0.72rem;
            }
        }
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 30px;
        input , textarea {
            width: 100%;
            background-color: transparent;
            padding: 16px 21px;
            border: 1px solid var(--input-border-color);
            resize: none;
            font-size: 0.72rem;
            font-family: var(--font-family-para);
            color: var(--font-color);
        }
        input:focus , textarea:focus {
            background-color: var(--footer-bg-color);
            outline: none;
        }
        textarea { 
            height: 170px;
        }
        button { 
            padding: 15px 40px;
            border-radius: 5px;
            font-size: 0.72rem;
            cursor: pointer;
        }
        .go-back-to-home{
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: flex-start;
            display: flex;
            line-height: 35px;
            font-size: 0.72rem;
            font-family: var(--font-family-para);
            width: max-content;
            cursor: pointer;
            p{
                font-size: 0.72rem;
                font-weight: bold;
            }
     
            i { 
    
                animation-name: movearrow;
                animation-duration: 1.5s;
                animation-timing-function:ease-in-out;
                animation-iteration-count: infinite;
                color: var(--font-color);
            }
        }

    }
}


// This is where the section for articles page starts 
.nav-filter-btn { 
    background-color: transparent;
    color: var(--font-color);
    font-size: var(--font-size-small);
    font-family: var(--font-family-para);
    cursor: pointer;
    padding: 0 9px;
    border-radius: 4px;
    transition: transform 0.5s ease-in-out , background 0.5s ease-in-out ;
    // 0 9 
    // 5 22
}
.nav-filter-btn-active {
    padding: 5px 22px;
    background: var(--nav-filter-btn-active-color);
    border: 2px solid var(--font-color);
    transform: scale(1.2);
    font-weight: bold;
}
section.articles-section { 
    // First 920 next 770
    width: min(100% , 770px);
    margin-inline: auto;
    margin-top: 70px;
    padding: 20px;
    

    .nav-filter { 
        margin-top: 50px;
        display: flex;
        gap: 21px;
        justify-content: center;
        align-items: center;
        

    }

    .articles-list { 
        // 570 
        margin-top: 20px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        // different heights for different container 

        li.large{
            height: 420px !important;
        }
        li.mediam{
            height: 370px !important;
        }
        li.small{
            height: 300px !important;
        }
        .left-column , .right-column{
            display: flex;
            width: min(100% , 510px );
            flex-direction: column;
            gap: 20px;
            justify-content: flex-start;
        }       
        li{

            position: relative;
            
            img{
                width: 100%;
                border-radius: 15px;
                height: 100%;
            }
            .article-list-content{
                position: absolute;
                z-index: 3;
                bottom: 0;
                left: 0;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                // transform: translateY(10px);
                // opacity: 0;
                // transition: transform 0.3s ease , opacity  0.3s ease;
                gap: 15px;

                h4{
                    font-size: 1.2rem;
                    color: var(--font-color);

                }
                p{
                    font-size: var(--font-size-small);
                    color: var(--font-color);
                }

            }
        }
        li::after { 
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;   
            top: 0;
            left: 0;
            z-index:2;
            background : linear-gradient(to bottom , transparent 10%, rgba(0 , 0 , 0 ,0.8));
        }



    }

}
@media (min-width : 768px) { 
    section.articles-section { 
        // First 920 next 770
        .articles-list{
            flex-direction: row;
            .left-column , .right-column{
                width: 50%;
                justify-content: flex-start;
            }    
            li.large{
                height: 454px !important;
            }
            li.medium{
                height: 400px !important;
            }
            li.small{
                height: 310px !important;
            }
            li::after { 
                display: none;
            }
            .article-list-content{
                transform: translateY(10px);
                opacity: 0;
                transition: transform 0.3s ease , opacity  0.3s ease;
            }
            li:hover::after {
                display:block;
            }
            li:hover .article-list-content {
                opacity: 1;
                transform: translateY(-10px);
            }
        }
    }
}
@media (min-width : 968px){
    section.articles-section{
        width: 920px;
    }
}

// styling open project page modal 
.project-details-modal::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .project-details-modal {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.project-details-modal {
    display: flex;
    flex-direction: column;
    position:fixed;
    height: 100dvh;
    overflow-y: scroll;
    width: min(554px , 100%);
    padding: 30px;
    top: 0;
    right: 0;
    gap: 20px;
    z-index: 10;
    transform: translateX(min(554px , 100%));
    transition: transform 0.7s ease;
    background-color: var(--bg-color);
    color: var(--font-color);
    img{
        width: 100%;
        border-radius: 8px;
    }
    
    .back-btns{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        .back-to-projects{
            font-size: var(--font-size-small);
        }
        :first-child{
            transition: transform 0.3s ease;
            transform: scale(1);
            cursor: pointer;
        }
        :first-child:hover{
            transform: scale(1.1);
        }
        :last-child:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    h3{
        font-family: var(--font-family-heading);
        letter-spacing: 2px;
        font-size: 1.3rem;
    }
    p{
        font-size: var(--font-size-small);
        line-height: 1rem;

    }
    .technology-btns button {
        background: var(--sidebar-projects-btn-color1);
        font-size: var(--font-size-small);
        color: var(--font-color);

        padding: 5px 10px;
    }
    .github{
        font-size: var(--font-size-small);
        color: var(--font-color);
        text-decoration: none;
    }.github:hover{
        border-bottom: 1px solid var(--font-color);
        align-self: flex-start;
    }
    a.open-project{
        padding: 10px 20px;
        width: 100%;
        background: var(--sidebar-projects-btn-color2);
        color: var(--font-color) !important;
        font-size: var(--font-size-small);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-weight: bold;
        cursor: pointer;
    }

}
.project-details-modal-show{
    transform: translateX(0);
}
.cover-whole-page-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0 , 0 , 0 ,0.8);
    z-index: 10;
    display: none;
}
.cover-whole-page-modal-active{
    display: block;
}

// animations list 

//Home page name animation
@keyframes noise-anim {
    0% {
      clip-path: inset(29% 0 25% 0);
    }
    5% {
      clip-path: inset(9% 0 38% 0);
    }
    10% {
      clip-path: inset(96% 0 1% 0);
    }
    15% {
      clip-path: inset(75% 0 23% 0);
    }
    20% {
      clip-path: inset(46% 0 50% 0);
    }
    25% {
      clip-path: inset(3% 0 46% 0);
    }
    30% {
      clip-path: inset(82% 0 2% 0);
    }
    35% {
      clip-path: inset(88% 0 1% 0);
    }
    40% {
      clip-path: inset(91% 0 8% 0);
    }
    45% {
      clip-path: inset(96% 0 2% 0);
    }
    50% {
      clip-path: inset(59% 0 38% 0);
    }
    55% {
      clip-path: inset(41% 0 53% 0);
    }
    60% {
      clip-path: inset(21% 0 47% 0);
    }
    65% {
      clip-path: inset(89% 0 4% 0);
    }
    70% {
      clip-path: inset(1% 0 95% 0);
    }
    75% {
      clip-path: inset(86% 0 4% 0);
    }
    80% {
      clip-path: inset(95% 0 5% 0);
    }
    85% {
      clip-path: inset(54% 0 36% 0);
    }
    90% {
      clip-path: inset(70% 0 27% 0);
    }
    95% {
      clip-path: inset(6% 0 16% 0);
    }
    100% {
      clip-path: inset(95% 0 2% 0);
    }
  }
  @keyframes noise-anim-2 {
    0% {
      clip-path: inset(76% 0 21% 0);
    }
    5% {
      clip-path: inset(54% 0 7% 0);
    }
    10% {
      clip-path: inset(55% 0 29% 0);
    }
    15% {
      clip-path: inset(89% 0 3% 0);
    }
    20% {
      clip-path: inset(33% 0 40% 0);
    }
    25% {
      clip-path: inset(17% 0 56% 0);
    }
    30% {
      clip-path: inset(37% 0 51% 0);
    }
    35% {
      clip-path: inset(38% 0 19% 0);
    }
    40% {
      clip-path: inset(93% 0 4% 0);
    }
    45% {
      clip-path: inset(44% 0 14% 0);
    }
    50% {
      clip-path: inset(53% 0 26% 0);
    }
    55% {
      clip-path: inset(67% 0 11% 0);
    }
    60% {
      clip-path: inset(85% 0 13% 0);
    }
    65% {
      clip-path: inset(27% 0 37% 0);
    }
    70% {
      clip-path: inset(87% 0 4% 0);
    }
    75% {
      clip-path: inset(10% 0 8% 0);
    }
    80% {
      clip-path: inset(51% 0 27% 0);
    }
    85% {
      clip-path: inset(10% 0 60% 0);
    }
    90% {
      clip-path: inset(83% 0 3% 0);
    }
    95% {
      clip-path: inset(23% 0 55% 0);
    }
    100% {
      clip-path: inset(1% 0 81% 0);
    }
}
